body {
  padding-top: 50px;
}
h1 {
  font-family: 'Oswald', 'Helvetica Neue', Helvetica, sans-serif;
  margin-bottom: 20px;
}

.content {
  margin-top: 50px;
}

.colpick {
  margin: 0px auto;
  margin-bottom: 12px;
  padding-bottom: 10px;
}

.white-bg {
  background:#ffffff;
}

.power {
  margin-top: 24px;
  margin-bottom: 20px;
}

.power p {
  font-family: 'Oswald', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 24px;
  margin-right: 16px;
  margin-bottom: 0px;
  float: left;
}